Checks: >
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-branch-clone,
  -bugprone-narrowing-conversions,
  -bugprone-exception-escape,
  -bugprone-macro-parentheses,
  -bugprone-reserved-identifier
HeaderFilterRegex: '.*[\\/]Source[\\/].*'
WarningsAsErrors: ''
FormatStyle: file
